$secondColor: #fe3189;
$fontColor: #eaeaea;
.background-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 702px;
  background-image: url(../../images/feature-background.png);
  background-size: cover;
  background-position: center;
  .feature-container {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;

    .feature-title {
      font-weight: 300;
      font-size: 22px;
      line-height: 33px;
      width: 70vw;
      position: absolute;
      top: 30px;
      & .ellipse {
        width: 15.99px;
        height: 14.84px;
        position: relative;
        top: 1px;
        margin-right: 10px;
      }
    }
    .alice-carousel {
      width: 70vw;
      position: absolute;
      top: 90px;
      .alice-carousel__stage {
        .alice-carousel__stage-item * {
          border-radius: 4px;
          width: 218.53px;
          text-decoration: none;
          .movie-title {
            font-weight: 500;
            font-size: 22px;
            line-height: 33px;
            color: $fontColor;
          }
          .movie-rate {
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: $fontColor;

            & .star {
              width: 15.99px;
              height: 14.84px;
              position: relative;
              top: 1px;
              margin-right: 10px;
            }
          }
          .movie-genre {
            font-weight: 300;
            font-size: 15.3854px;
            line-height: 23px;
            display: flex;
            align-items: center;
            padding-bottom: 1rem;
            color: #fe3189;
          }
        }
      }
      .alice-carousel__prev-btn,
      .alice-carousel__next-btn {
        font-size: 75px;
        position: absolute;
        top: 140px;
        width: fit-content;
      }
      .alice-carousel__prev-btn-item,
      .alice-carousel__next-btn-item {
        color: $fontColor;
      }
      .alice-carousel__prev-btn {
        text-align: inherit;
        left: -3.5rem;
      }
      .alice-carousel__next-btn {
        text-align: end;
        right: -3.5rem;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .background-image {
    background-image: none;
    .feature-container .feature-title {
      top: 0px;
    }
  }
}
