footer {
  margin-top: 4rem;
  width: 100%;
  height: 112px;
  display: flex;
  background: #18181c;
  text-align: center;
  align-items: center;
  & div {
    width: 90vw;
    .footer-text {
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
    }
  }
}
