footer {
  margin-top: 4rem;
  height: 112px;
  display: flex;
  background: #18181c;
  text-align: center;
  align-items: center;
  position: absolute;
  bottom: -30px;
  width: 100%;

  .footer-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    width: 90vw;
  }
}
