.container {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  .info {
    padding: 2rem 0;
    width: 50vw;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    .info-top {
      display: grid;
      padding: 3rem 0;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      .image {
        width: 334px;
        height: 494px;
      }
      .info-text {
        display: flex;
        flex-direction: column;
        text-align: initial;
        width: 30vw;

        .title {
          font-weight: bold;
          font-size: 60px;
          line-height: 68px;
        }
        .genre {
          font-weight: 300;
          font-size: 24px;
          line-height: 36px;
          display: flex;
          align-items: center;

          color: #fe3189;
        }

        .upper-text {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          flex-direction: row;

          .rate {
            float: right;
            text-align: right;
            & .star {
              width: 15.99px;
              height: 14.84px;
              position: relative;
              top: 1px;
              margin-right: 10px;
            }
          }
        }
        .lower-text {
          text-align: left;

          .sinopse {
            padding: 3rem 0 1.5rem 0;
            font-weight: 400;
            font-style: normal;
            font-size: 24px;
            line-height: 140.5%;
          }
          .overview {
            font-weight: normal;
            font-size: 22px;
            line-height: 140.5%;
            display: flex;
            color: #757575;
          }
        }
      }
    }
    .trailer-text {
      margin-top: 5rem;
      text-align: left;
      font-style: normal;
      font-weight: 600;
      font-size: 29.1064px;
      line-height: 140.5%;
    }
    .trailer {
      border-top: 3px solid #fe3189;
      height: 469px;
      justify-content: center;
      text-align: center;
      display: flex;
      .video {
        padding-top: 2rem;
        height: 579px;
      }
    }
  }
  .go-back {
    padding-bottom: 7rem;
    & button {
      cursor: pointer;
      margin: 0 1rem;
      width: 161px;
      height: 44.86px;
      font-weight: 600;
      font-size: 14.4179px;
      line-height: 22px;
      color: #eaeaea;
      border: 2px solid #fe3189;
      filter: drop-shadow(0px 0px 6px #ff0772);
      background: linear-gradient(180deg, #fe3189 0%, #fe3189 100%), #fe3189;
      mix-blend-mode: normal;
      border-radius: 3.20398px;
    }
  }
}
#cinema-img {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 702px;
  background-image: url(../../images/feature-background.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
}
@media screen and (max-width: 460px) {
  #cinema-img {
    background-image: none;
  }
  .container {
    .info {
      .image {
        width: 250px !important;
        height: 345px !important;
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .container {
    .go-back {
      & button {
        display: table-footer-group;
        margin-bottom: 7rem;
      }
    }
    .info {
      width: 90%;
      .info-top {
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
        align-items: center;
        .image {
          max-width: 370px;
          max-height: 540px;
        }
        .info-text {
          display: flex;
          flex-direction: column;
          text-align: initial;
          width: 85vw;
          .title {
            font-weight: bold;
            font-size: 42px;
            line-height: 68px;
          }
          .genre {
            font-size: 20px;
          }
          .upper-text .rate {
            max-width: 110px;
          }
          .lower-text .overview {
            font-size: 15px;
          }
        }
      }
      .trailer {
        border-top: transparent;
        height: unset;
      }
      .trailer .video {
        height: 250px;
      }
    }
    .trailer-text {
      padding-bottom: 8px;
      width: 95px;
      border-bottom: 0.6px solid #fe3189;
    }
  }
}
