$navbarColor: #212125;
$secondColor: #fe3189;
$fontColor: #eaeaea;
.search-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 360px;
  position: absolute;
  top: 110px;
  left: -100%;
  transition: all 0.5s ease;
  text-align: center;
  align-items: center;

  &.active {
    background: $navbarColor;
    mix-blend-mode: normal;
    box-shadow: 0px 24px 35px 4px rgba(0, 0, 0, 0.3);
    left: 0;
    opacity: 1;
    z-index: 3;
    transition: all 0.5s ease;
    height: auto;
    padding-bottom: 2.5rem;
    & form {
      position: relative;
      left: 0px;
    }
    .search-result {
      position: relative;
      left: 0px;
    }
  }

  & form {
    width: 58vw;
    margin: 2rem 0;
    display: grid;
    grid-gap: 30px;
    & input {
      background-color: transparent;
      border-color: transparent;
      border-bottom: 2px solid #fe3189;
      display: block;
      padding: 0 0 10px 10px;
      font-size: 2rem;
      color: $fontColor;
      line-height: 48px;
      font-style: normal;
      font-weight: 500;
    }
    & input:focus {
      outline: none;
    }
    position: absolute;
    left: -100%;
  }

  .search-result {
    width: 58vw;
    // width: unset;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 15px;
    position: absolute;
    left: -100%;
  }
}

.search-icon {
  right: 140px;
}
.search-active path {
  stroke: $secondColor;
}
.search-icon:hover path {
  stroke: $secondColor;
  &.active {
    stroke: $secondColor;
  }
}

.search-two {
  position: relative;
  left: -4px;
  top: 3px;
}

@media screen and (max-width: 960px) {
  .search-menu {
    height: 370px;
    top: 56px;
    &.active {
      & form {
        margin: 1.3rem 0;
        width: 90vw;
        & input {
          font-size: 18.42px;
          line-height: 28px;
        }
      }
      .search-result {
        // width: 90vw;
        width: unset;
        height: auto;
        grid-template-columns: repeat(1, auto);
      }
    }
  }
  .background {
    top: 55px;
  }
  .search-icon {
    position: absolute;
    right: 20px;
    top: 15px;
  }
  .search-one {
    width: 12.84px;
    height: 12.84px;
  }
  .search-two {
    width: 5.48px;
    height: 5.48px;
    left: -2px;
    top: 2px;
  }
}
