$navbarColor: #212125;
$backGround: #1b1b1f;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  color: #eaeaea;
  font-family: Poppins;
  background-color: $backGround;
}

.home,
.products {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url("https://images.unsplash.com/photo-1518173946687-a4c8892bbd9f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZnJlc2h8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  // font-size: 100px;
}
